<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet"  href="/static/styles.css">
    <!-- <title>{% block title %}{{posts.title}}{% endblock title %}</title> -->

</head>
<body>

            <a href='/blog'>Home   </a><span>
            <a href='/blog'>All Posts</a></span>
            <a href='/newpost'>New Post</a></span>
            <a href='#'>Login</a></span>
            <a href='#'>Logout</a></span>

            <br><br>

    </div>

    {% block content %}
    
    
    {% endblock content %}
    
</body>
</html>