{% extends "base.html" %}

{% block title%} 
My Blog Posts
{% endblock title%}

{% block content %}
    {% for post in posts %}
    
    <a class="link" href="/blog?id={{post.id}}">{{post.title}}</a>
   
    
    <p>        
        {{post.content}}
        <div>
            {% for user in users %}
                {% if user.id == post.owner_id %}
            written by:<a class="link" href="/blog?user={{user.id}}"> {{user.username}}</a>
                {% endif %}
            {% endfor %}
        </div>
    </p>
         <hr/>
    {% endfor %}




{% endblock content %}