{% extends "base.html" %}

{% block title%} 
Blog Users
{% endblock title%}

{% block content %}
<div class="col-sm-9">


{% for post in posts %}
    
<h1><a class="link" href="/blog?id={{post.id}}">{{post.title}}</a></h1>


<p>        
    {{post.content}}

    <div>
        
        <h5>written by:<span class="glyphicon glyphicon-pencil"></span><a class="link" href="/blog?user={{user.id}}"> {{user.username}}</a></h5>
        
    </div>
</p>
     <hr/>
{% endfor %}
</div>

{% endblock content %}